{% extends 'base.html' %}

{% block main_block %}
<div class="bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <div class="flex flex-wrap -mx-4">
      <!-- Product Images -->
      <div class="w-full md:w-1/2 px-4 mb-8">
        {% if details.picture %}
        <img src="{{ details.picture.url }}" alt="Product"
          class="w-full h-62 overflow-hidden rounded-lg shadow-md mb-4 shadow-lg" id="mainImage">
        {% endif %}
      </div>

      <!-- Product Details -->
      <div class="w-full md:w-1/2 px-4">
        <h2 class="text-3xl font-bold mb-2">{{ details.title }}</h2>
        <p class="text-gray-600 mb-4">{{ details.Tag_obj }}</p>
        <div class="mb-4">
          <span class="text-2xl font-bold text-black">₹{{ details.price }} </span>
          <span class="text-xl font-bold mr-2 line-through text-gray-600">(₹{{ details.price_without_offer }})</span>
        </div>

        <p class="text-gray-700 mb-6">{{ details.description }}</p>

        <div class="mb-6">
          <p>
            {{ details.Equipment_category_obj }}
          </p>
        </div>

        <form method="post" action="{% url 'add-to-cart-equipment' details.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Add to Cart</button>
      </form>

        
      </div>
    </div>
  </div>

  <script>
    function changeImage(src) {
      document.getElementById('mainImage').src = src;
    }
  </script>
</div>
{% endblock %}
